.example-card {
    max-width: 500px;
    margin: 10px auto;
    img {
        width: 100%;
    }
}

.mat-form-field {
    margin: 10px auto;
    width: 100%;
}

agm-map {
    height: 450px;
    width: 100%;
    margin: 0 auto;
}